<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chào mừng đến với trang web của chúng tôi</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <header>
        <h1>Trang Chủ</h1>
    </header>

    <section id="gioithieu" style="font-size: 1.5em;">
        <h2>Giới thiệu</h2>
        <p>Trang web bán hàng của chúng tôi là điểm đến lý tưởng cho những người yêu thích mua sắm trực tuyến. Với một loạt các sản phẩm đa dạng từ thời trang, điện tử, đến đồ gia dụng và nhiều hơn nữa. Chúng tôi cam kết mang đến trải nghiệm mua sắm tuyệt vời nhất cho khách hàng của mình.</p>
    </section>


    <section id="dichvu" style="font-size: 1.5em;">
        <h2>Chúng tôi có </h2>
        <ul>
            <li>Kiến thức</li>
            <li>Kinh nghiệm</li>
            <li>Trải nghiệm</li>
        </ul>
    </section>

    <section id="sanpham" style="font-size: 1.5em;">
        <!-- Phần mới cho sản phẩm -->
        <h2>Sản phẩm nổi bật của chúng tôi</h2>
        <div class="product-container">
            <div class="product">
                <img id="Photo" src="~/images/products/638468325940646452_Ảnh chụp màn hình 2024-03-23 230015.png" class="img img-bordered" style="width:200px" />
                <h3>8580 - Xe đẩy Cosco Nova</h3>
            </div>
            <div class="product">
                <img id="Photo" src="~/images/products/638468329146688724_Ảnh chụp màn hình 2024-03-23 232132.png" class="img img-bordered" style="width:200px" />
                <h3>Nôi em bé - nôi trẻ em 3 trong 1 7418</h3>
            </div>
        </div>
    </section>

    <section id="lienhe" style="font-size: 1.5em;">
        <h2>Liên hệ</h2>
        <p>Nếu bạn có bất kỳ câu hỏi hoặc yêu cầu nào, vui lòng liên hệ với chúng tôi.</p>
        <p>Email: tranphan150202@gmail.com</p>
        <p>Điện thoại: 0935243875</p>
    </section>
</body>
</html>
