@model SV20T1020598.DomainModels.Product
@{
    ViewBag.Title = "Xoá mặt hàng";
}

<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Thông tin mặt hàng</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>

    <div class="box-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th class="col-sm-2"><strong>Thuộc tính</strong></th>
                    <th class="col-sm-10">Giá trị</th>
                </tr>
                <tr>
                    <td><strong>Tên mặt hàng:</strong></td>
                    <td>@Model.ProductName</td>
                </tr>
                <tr>
                    <td><strong>Mô tả:</strong></td>
                    <td>@Model.ProductDescription</td>
                </tr>
                <tr>
                    <td><strong>Đơn vị tính:</strong></td>
                    <td>@Model.Unit</td>
                </tr>
                <tr>
                    <td><strong>Giá hàng:</strong></td>
                    <td>@Model.Price</td>
                </tr>
                <tr>
                    <td><strong>Ảnh:</strong></td>
                    <td><img id="Photo" src="~/images/products/@Model.Photo" class="img img-bordered" style="width:200px" /></td>
                </tr>
            </table>
        </div>

        <form class="form-horizontal" action="~/Product/Delete/@Model.ProductID" method="post" enctype="multipart/form-data">
            <div class="form-group text-right">
                <div class="col-sm-offset-2 col-sm-10">
                    @if (ViewBag.AllowDelete)
                    {
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-trash"></i> Xóa dữ liệu
                        </button>
                    }

                    <a class="btn btn-default" href="~/Product">
                        Quay lại
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
