@model SV20T1020598.DomainModels.Shipper
@{
    ViewBag.Title = "Xóa người giao hàng";
}

<div class="box box-primary">
    <div class="box-body">
        <table class="table table-bordered">
            <tr>
                <th>Tên người giao hàng:</th>
                <td>@Model.ShipperName</td>
            </tr>
            <tr>
                <th>Điện thoại:</th>
                <td>@Model.Phone</td>
            </tr>
        </table>

        <form action="~/Shipper/Delete/@Model.ShipperID" method="post">
            @if (!SV20T1020598.BusinessLayers.CommonDataService.IsUsedShipper(Model.ShipperID))
            {
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-trash"></i> Xác nhận xóa
                </button>
            }
            <a href="~/Shipper" class="btn btn-default">
                Quay lại
            </a>
        </form>
    </div>
</div>
